a:link {
  color: rgb(66, 92, 207);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(21, 151, 38);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
