body{
    margin: 0px;
}

.topic-container{
    display: grid;
    height:100vh;
    grid-template-columns: 50% auto;
}

input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ADAABF;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.5s ease-in-out, box-shadow 0.15s ease-in-out;
}

.t-from-container{
    align-content : center;
    margin-left: 30%;
    margin-top: 40px;
}

.t-form-label {
    margin-bottom: 0.6rem;
    font-size: 1rem;
}

.t-title-container{
    align-content : center;
    margin-left: 30%;
    margin-top: 10%;
}


.sideLable{
    color:#fff;
    font-size:5rem ;
    font-weight:200;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.br1{
    display: block;
    margin-bottom: -2em;
}

.subLable{
    color:#B7B5C2; 
}

.sublable-container{
    width: 300px;
    margin-left: 30%;
    margin-top: 20px;
}

.side-btn{
    background-color: #00D8B6;
    font-size:2rem ;
    color:#fff;
    border-radius: 2px;
    padding: 5px 10px 5px;
    margin-left: 30%;
}

.img-side{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.bottom-t-container{
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.bottom-t{
    font-weight: bold;
    font-size: 1rem;
}

.s-from-container{
    align-content : center;
    margin-left: 30%;
    margin-top: -30px;
}

.s-form-label {
    margin-bottom: 0.6rem;
    font-size: 1rem;
    color:#84809F
}

.s-input{
    background-color: #84809F;
}
